@model QuizWebApp.Models.DashboardViewModel
@using QuizWebApp.Models

<table class="dashboard">
    <tr>
        <th>回答者名</th>
        <th class="score">正答数</th>
        <!-- 
            ポイント表示 -->
        <th class="score">ポイント</th>
        @foreach(var n in Enumerable.Range(1, Model.Questions.Count()))
        {
            <th>@("Q" + n.ToString())</th>
        }
    </tr>

    @*    @foreach (var player in Model.Players)*@
    @{var OrderPlayers = Model.Players.OrderByDescending(p => p.Score);}
    @foreach (var player in OrderPlayers)
    {
        <tr>
            <td>@player.Name</td>
            <td class="score">
                @Model.Answers.Count(a => a.PlayerID == player.UserId && a.Status == AnswerStateType.Correct)
            </td>
            <!-- ★ポイント表示 -->
                @*@{int point =0;
                 foreach (var a in Model.Answers)
                {
                    if (a.PlayerID == player.UserId && a.Status == AnswerStateType.Correct)
                    {
                     point+= a.Point;
                    }
                }
                }*@
            <td class="score">@player.Score</td>
            @foreach(var q in Model.Questions.ToList())
            {
                var ans = Model.Answers.FirstOrDefault(a => a.PlayerID == player.UserId && a.QuestionID == q.QuestionId) ?? new Answer();
                <td><span class="answer-status answer-status-@ans.Status">&nbsp;</span></td>
            }
        </tr>
    }

</table>

